* {

    padding: 0;
    margin: 0;

}

body {
    align-items: center;
}

p {
    text-align: center;
}

#about {
    padding-top: 30vh;
}

#app {
    margin-top: 10vh;
    justify-content: center;
    display: grid;
    grid-template-rows: 2fr 5fr;
    align-items: center;

}

#qrImage-container {
    justify-content: center;
    align-items: center;
}